* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(77, 124, 99);
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.principal h1 {
    color: #fff;
    font: 30px sans-serif;
    font-weight: bold;
    margin: 20px 0 30px 0;
}

.formulario {
    font-family: sans-serif;
    padding: 30px;
    color: #fff;
}

.formulario [type='text'],
select {
    height: 40px;
    border-radius: 8px;
    margin-bottom: 8px;
    text-align: center;
    border: 1px solid darkolivegreen;
}

input:focus {
    background-color: rgb(211, 236, 222);
}

.formulario select {
    width: 100%;
}

.formulario button {
    width: 48%;
    height: 40px;
    padding: 0 10px;
    border-radius: 8px;
    border: 1px solid darkolivegreen;
    background-color: rgb(144, 212, 175);
}

.formulario button:hover {
    cursor: pointer;
    color: darkgreen;
    background-color: rgb(194, 219, 205);
}


table,
th,
td {
    font-family: sans-serif;
    background-color: #fff;
    color: #000;
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    padding: 10px 0;
}

th {
    background-color: rgb(119, 163, 148);
    color: #fff;
}

table {
    text-align: center;
    width: 700px;
}

/* tr:nth-child(even) {
    background-color: rgb(148, 148, 148);
} */